@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700;800;900&display=swap');

* {
  font-family: 'Inconsolata', monospace;
}

a {
  color: #FFF !important;
  text-decoration: none !important;
}

ul {
  list-style: none;
  padding: 0 !important;
}

body {
  margin: 0;
  width: 100vw;
  min-height: 100vh;
  overflow: hidden;
  background-color: #030314 !important;
  color: #FFF !important;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}